/* UserDashboard.css */

.user-dashboard-title {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

.user-welcome-message {
    text-align: center;
    color: #333;
    margin: 10px 0;
}

.user-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.user-adoption-history-title {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.user-animal-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.animal-profile {
    width: calc(50% - 20px); /* Show two profiles per row */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.animal-profile h4 {
    margin-bottom: 10px;
}

.animal-profile img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.animal-profile p {
    font-size: 0.9em;
    line-height: 1.4;
    color: #666;
    margin-bottom: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .animal-profile {
        width: 100%; /* Full width profiles on smaller screens */
    }
}
