{% extends "base.html" %}

{% block content %}
<h2>Add Animal Profile</h2>
<form action="{{ url_for('main_bp.add_animal_profile') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
        {{ form.type_name.label }}<br>
        {{ form.type_name(size=32) }}
        {% for error in form.type_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div>
        {{ form.breed_name.label }}<br>
        {{ form.breed_name(size=32) }}
        {% for error in form.breed_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div>
        {{ form.dispositions.label }}<br>
        {% for subfield in form.dispositions %}
            <label>
                {{ subfield() }} {{ subfield.label.text }}
            </label>
        {% endfor %}
        {% for error in form.dispositions.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div>
        {{ form.availability.label }}<br>
        {{ form.availability() }}
        {% for error in form.availability.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div>
        {{ form.description.label }}<br>
        {{ form.description(size=64) }}
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
