{% extends 'base.html' %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <div>
        <h2>User Profiles:</h2>
        {% for user in users %}
            <div class="user-profile">
                <p>User ID: {{ user['_id'] }}</p>
                <p>Username: {{ user['username'] }}</p>
                <p>Email: {{ user['email'] }}</p>
                {% if user.get('address') %}
                <p>Address: {{ user['address'] }}</p>
                {% endif %}
                {% if user.get('name') %}
                    <p>Name: {{ user['name'] }}</p>
                {% endif %}
                <!-- Add more fields as needed -->
                <p>-----------------</p>
            </div>
        {% else %}
            <p>No users found.</p>
        {% endfor %}
    </div>
{% endblock %}
