<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shelter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1 style="font-size: 1.5em;"><a href="{{ url_for('main_bp.index') }}" class="logo-text">Furever Match</a></h1>
        </div>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="{{ url_for('main_bp.index') }}">Home</a></li>
                <li><a href="{{ url_for('main_bp.about_us') }}">About Us</a></li>
                <li><a href="{{ url_for('main_bp.join_us') }}">Join Us</a></li>
                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('main_bp.user_dashboard') }}">Dashboard</a></li>
                    <!-- Check if the user is an admin and provide admin dashboard link -->
                    {% if session.get('is_admin', False) %}
                        <li><a href="{{ url_for('main_bp.admin_only_view') }}">User Admin Dashboard</a></li>
                        <li><a href="{{ url_for('main_bp.admin_animal_dashboard') }}">Animal Admin Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('main_bp.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('main_bp.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <section id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="footer">
        <p>&copy; 2023 FureverMatch</p>
    </footer>
    
    {% block additional_js %}{% endblock %}
</body>
</html>
