{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/LoginForm.css') }}">
<div class="login-form">
    <h1>Login</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <input type="submit" value="Login">
    </form>

    <div>
        Don't have an account? <a href="{{ url_for('main_bp.signup') }}">Sign Up</a>
    </div>
</div>
{% endblock %}
