{% extends 'base.html' %}

{% block content %}
    <h1>User Dashboard</h1>
    <div>
        <h2>Welcome, {{ hooman.name }}!</h2>
        <p>Email: {{ hooman.email }}</p>
        <p>Phone: {{ hooman.phone }}</p>
        <p>Address: {{ hooman.address }}</p>
        
        <h3>Adoption History</h3>
        {% if hooman.adoption_history %}
            <ul>
                {% for adoption in hooman.adoption_history %}
                    <li>(ID: {{ adoption }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No adoption history.</p>
        {% endif %}
    </div>
{% endblock %}
