{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/UserDashboard.css') }}">
<div class="user-dashboard">
    <h1 class="user-dashboard-title">User Dashboard</h1>
    <div class="user-details">
        <h2 class="user-welcome-message">Welcome, {{ hooman.name }}!</h2>
        <p>Email: {{ hooman.email }}</p>
        <p>Phone: {{ hooman.phone }}</p>
        <p>Address: {{ hooman.address }}</p>
    </div>
    <h3 class="user-adoption-history-title">Adoption History</h3>
    {% if animal_profiles %}
        <div class="user-animal-profiles">
            {% for animal in animal_profiles %}
                <div class="animal-profile">
                    <h4>{{ animal.type_name }} - {{ animal.breed_name }}</h4>
                    {% if animal.pic %}
                        <img src="data:image/jpeg;base64,{{ animal.pic }}" alt="Picture of {{ animal.type_name }}"> 
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
                    <p>Description: {{ animal.description }}</p>
                    <p>Availability: {{ animal.availability }}</p>
                    <!-- Add more details as needed -->
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-history">No adoption history.</p>
    {% endif %}
</div>
{% endblock %}
